.App {
    text-align: center;
    height: 100vh;
    width: calc(100% );
    overflow: hidden;
}

.category_button {
    margin-top: 25px;
    background: url("../images/paint.svg") 50% 50% no-repeat;
    /*background: url("../images/paint.svg") no-repeat 50% 50%;*/
    /*border: 1px solid black;*/
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.2s ease-out;
}

.category_button:hover {
    border-radius: 50%;
    background-color: #E5E5E5;
    transition: background-color 0.2s ease-out;
}

.category_button:active {
    border-radius: 50%;
    background-color: #C5C4C4;
    transition: background-color 0.2s ease-out;
}

/*.col-4 {*/
/*    animation: appear 0.7s ease-out;*/
/*}*/
.col-8_start {
    animation: appear_from_right 0.7s cubic-bezier(.55,.19,.46,1.06), opac 1.5s ease-out;
}
.disappear {
    animation: disappear 0.4s ease;
    opacity: 1;
}

.category_button_clicked {
    margin-top: 25px;
    background: url("../images/close.svg") 50% 50% no-repeat;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.2s ease-out;
}

.category_button_clicked:hover {
    border-radius: 50%;
    background-color: #E5E5E5;
    transition: background-color 0.2s ease-out;
}

.category_button_clicked:active {
    border-radius: 50%;
    background-color: #C5C4C4;
    transition: background-color 0.2s ease-out;
}

.category_option {
    margin-top: 25px;
    display: block;
    transition: background-color 2s ease-out;
    /*transition: opacity 2s ease-out;*/
    opacity: 0;
    margin-left: -30px;
}

#left {
    float: left;
}

.gone {
    display: none;
}

#site_top {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    z-index: 2;
    margin-left: 10px;
    height: auto;
}

#site_body {
    height: auto;
    justify-content: center;
}


#todo_component, #schedule_component {
    position: absolute;
    height: 100%;
    width: 100%;
}

#todo_component {
    /*overflow: scroll;*/
}

#category_component {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    cursor: url("../images/paint.svg") 2 2, pointer;
}

.schedule_parent_expanded {
    margin-left: 30px;
}
.td1 {
    user-select: none;
}

.show_hide_todo, .show_hide_todo_reverse {
    height: 30px;
    width: 30px;
    position: fixed;
    top: 12%;
    left: 31.5%;
    z-index: 10000;
    background: url("../images/left_sign.svg") 110% 50% no-repeat;
    cursor: pointer;

}

.show_hide_todo {
    animation: show_hiding_arrow 1s ease forwards;
}

.show_hide_todo_reverse {
    background: url("../images/right_sign.svg") 50% 50% no-repeat;
    left: 0;
    animation: show_expanding_arrow 0.4s ease forwards;
}

@keyframes show_expanding_arrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show_hiding_arrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#todo_component {
    margin-top: 25px;
}

.empty_slot {
    background-color: transparent;
    transition: background-color 0.2s ease;

}

.type_a {
    background-color: #EBFFE2;
    content: 'type a';
    transition: background-color 0.2s ease;
    opacity: 0.9;
}

.type_a:before {
    /*content:'TYPE A';*/
    /*transition: opacity 0.2s ease;*/
}

@keyframes slide-aside_a {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slide-aside_a_reverse {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes appear {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes appear_from_right {
    0% {
        opacity: 0;
        transform: translateX(800px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#type_a_button {
    background-color: #EBFFE2;
    border-radius: 20%;
    transition: background-color 0.2s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    height: 30px;
    width: 55px;
    cursor: pointer;
    /*animation: slide-aside_a 0.4s ease;*/
}

#type_a_button:hover {
    background-color: #E0FFD2;
    transition: background-color 0.5s ease-out;
}

#type_a_button:active {
    background-color: #D9FFC8;
    transition: background-color 0.5s ease-out;
}

.type_b {
    background-color: #FCEDFF;
    content: 'type b';
    transition: background-color 0.2s ease;
}

.type_b:before {
}

#type_b_button {
    background-color: #FDF0FF;
    border-radius: 20%;
    transition: background-color 0.2s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    height: 30px;
    width: 55px;
    cursor: pointer;
    /*animation: slide-aside_b 0.4s ease;*/

}

#type_b_button:hover {
    background-color: #FCE6FF;
    transition: background-color 0.2s ease-out;
}

#type_b_button:active {
    background-color: #FBDCFF;
    transition: background-color 0.2s ease-out;
}
@keyframes slide-aside_b {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.type_c {
    background-color: #EBEDFF;
    transition: background-color 0.2s ease;
    opacity: 0.9;
}

.type_c:before {
}

#type_c_button {
    background-color: #E4E6FF;
    border-radius: 20%;
    transition: background-color 0.2s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    height: 30px;
    width: 55px;
    cursor: pointer;
    /*animation: slide-aside_c 0.4s ease;*/

}

#type_c_button:hover {
    background-color: #D9DCFF;
    transition: background-color 0.2s ease-out;
}

#type_c_button:active {
    background-color: #CCD0FF;
    transition: background-color 0.2s ease-out;
}

@keyframes slide-aside_c {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#clear_category_button, #add_category_button, #category_send_button {
    /*background-color: #BED2FE;*/
    border-radius: 50%;
    transition: background-color 0.2s ease-out, margin-left 0.5s ease-out, opacity 0.5s ease-out;
    height: 30px;
    width: 30px;
    cursor: pointer;
    /*animation: slide-aside_clear 0.4s ease;*/
}

#clear_category_button {
    background: url("../images/sweep.svg") no-repeat 50% 50%;
}

#add_category_button {
    background: url("../images/add.svg") no-repeat 50% 50%;
}

#clear_category_button:hover, #show_hide_todo:hover, .show_hide_todo_reverse:hover, #category_send_button:hover, #add_category_button:hover {
    border-radius: 50%;
    background-color: #E5E5E5;
    transition: background-color 0.2s ease-out;
}

#clear_category_button:active, #show_hide_todo:active, .show_hide_todo_reverse:active, #category_send_button:active, #add_category_button:active {
    border-radius: 50%;
    background-color: #C5C4C4;
    transition: background-color 0.2s ease-out;
}

@keyframes slide-aside_clear {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#category_send_button {
    /*background-color: #BED2FE;*/
    background: url("../images/done.svg") no-repeat 50% 50%;
    /*animation: slide-aside_send 0.4s ease;*/
}

@keyframes slide-aside_send {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}



.empty_slot {
    background-color: white;
    transition: background-color 0.2s ease;
}

.empty_slot:before {
    content:'';
}

#hidden_button {
    opacity: 0;
    margin-left: -30px;
}

#presented_button {
    opacity: 1;
    margin-left: 0;
}

#boo {
    align-items: center;
    margin-left: 35%;
}

.week {
    color: lightgrey;
    transition: color 0.2s linear;

}

.this_week_chosen {
    color: lightskyblue;
    transition: color 0.2s linear;
}

.next_week_chosen {
    color: lightgreen;
    transition: color 0.2s linear;
}


.switch {

    position: relative;
    display: inline-block;
    width: 60px;
    height: 15px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightskyblue;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}
