#schedule_component1 {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    /*width: 100%;*/
    padding-right: 25px;
    margin-left: -15px;
}

table {
    display: table;
    width: 100%;
    empty-cells: show;
}

th {
    width: 100vw;
    text-align: center;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    box-shadow: 4px 8px 8px lightgray;
    user-select: none;
}

#empty_todo {
    padding-top: 50%;
    color: #dad7d8;
    font-size: 40px;
}

#category_component1 {
    position: relative;
    overflow-y: scroll;
    /*height: 90%;*/
    /*width: 100%;*/
    max-height: 100vh;
}

title {
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    display: block;
}

td:empty::after {
    content: "\A0";
}

td {
    height: 6vh;
    width: 100%;
    /*min-width: 50px;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.passed {
    background: url("../images/texture.jpg");
    /*background-size: cover;*/
    height: 100%;
    width: 100%;
    opacity: 0.2;
    pointer-events: none;
}

.test123 {
    pointer-events: none;
    z-index: -100;
}

table th {
    text-align: center;
    z-index: 1;
}

table tr {
    display: table-cell;
    vertical-align: top;
}

table tr td {
    display: block;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5%;
    text-align: center;
}

#search_task {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5%;
    display: inline-block;
}


#tst1 {
    background-color: blue;
}

#tst2 {
    background-color: red;
}

#input {
    padding-left: 25px;
    background: url("../images/search_black_24dp.svg") no-repeat 0 1px;
    margin-top: 28px;
    margin-left: 80px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.2);
    width: 200px;
    height: 27px;
}



#upperPane {
    background-color: red;
}

@media screen and (max-width: 500px) {
    /*#schedule_component1 {*/
    /*    display: none;*/
    /*}*/

}