#schedule_component1 {
    position: relative;
    overflow-y: scroll;
    height: 98%;
    padding-right: 25px;
}

table {
    display: table;
    width: 99%;
    empty-cells: show;
}

th {
    width: 100vw;
    text-align: center;
    position: sticky;
    top: 0;
    user-select: none;
    background-color: #fefcf3;
    box-shadow: 4px 8px 8px lightgray !important;
}

#aba {
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: -100px;
    /*background-color: red;*/
    height: 100px;

}

#empty_todo {
    padding-top: 50%;
    color: #dad7d8;
    font-size: 40px;
}

#category_component1 {
    position: relative;
    overflow-y: scroll;
    max-height: 100vh;
}

title {
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    display: block;
}

td:empty::after {
    content: "\A0";
}

td {
    height: 6vh;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.passed {
    display: block;
    /*background: linear-gradient(rgba(254, 252, 243,.8), rgba(254, 252, 243,.8)), url("../images/texture.png");*/
    background: url("../images/grey_texture.png");
    transition: background 1.2s ease-out;
    opacity: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.th_parent {
    box-shadow: 0 6px 8px -4px lightgray;
    top: 0;
    position: sticky;
}

.task_label, .task_label_hidden {
    position: absolute;
    margin-bottom: 150px;
    height: auto;
    width: 200px;
    padding-bottom: 10px;
    background-color: beige;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*margin-top: 780px;*/
    /*margin-left: 320px;*/
    /*position: absolute;*/
    display: block;
    user-select: none;
    pointer-events: none;
    text-wrap: normal;
    /*animation: label_appear 1s;*/
}

@keyframes label_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes label_disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.task_label_hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.task_label_arrow {
    float: right;
    margin-right: 50px;
    margin-top: -25px;
    width: 20px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid beige;

}

/*#schedule_error {*/
/*    position: sticky;*/
/*    left: 40%;*/
/*    top: 3%;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    border-radius: 15px;*/
/*    color: white;*/
/*    width: 20vw;*/
/*    background-color: #ff3030;*/
/*    font-size: 15px;*/
/*    animation: error_appear 4s ease-in infinite;*/
/*}*/

@keyframes error_appear {
    0% {
        top: 2.5%;
        opacity: 0;
    }
    20% {
        top: 5.5%;
        opacity: 1;
    }
    80% {
        top: 5%;
        opacity: 1;
    }
    100% {
        top: 2.5%;
        opacity: 0;
    }
}

.task_label_title {
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    word-wrap: break-word;
}

.task_label_details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.hidden_overflow {
    pointer-events: none;
    z-index: -100;
    text-overflow: ellipsis;
    overflow: hidden ;
    /*white-space: nowrap;*/
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1.5em;
    /*height: 3em;*/

}

.heb_class {
    direction: rtl;
}

table th {
    text-align: center;
    z-index: 1;

}

table tr {
    display: table-cell;
    /*vertical-align: top;*/
    /*text-align: center;*/

}

table tr td {
    display: block;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5%;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
}

tr {
    max-width: 110px;
}

#search_task {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5%;
    display: inline-block;
}


#tst1 {
    background-color: blue;
}

#tst2 {
    background-color: red;
}

#input {
    padding-left: 25px;
    background: url("../images/search_black_24dp.svg") no-repeat 0 1px;
    margin-top: 28px;
    margin-left: 80px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.2);
    width: 200px;
    height: 27px;
}

#upperPane {
    background-color: red;
}