.greeting {
    font-size: large;
    position: absolute;
    width: 100%;
}

#logout {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

#logout:hover {
    text-decoration: underline;
}

#login_title {
    font: 70px "Brush Script MT";
    user-select: none;
    margin-left: 25px;
}

#one {
    /*margin-top: 25px;*/
    text-align: left;
}

#adding_category_container {
    width: 300px;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-align: left;
}

#category_dialog {
    display: table-cell;
    margin: 0 10px;
    width: 100px;
    height: 25px;
    box-shadow: 1px 1px 1px 0px #ccc;
    padding: 0 10px;
    border-radius: 5px;
}

#new_category_option_1, #new_category_option_2, #new_category_option_3, #category_accept_changes {
    background-color: #FFFD88;
    border-radius: 20%;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in;
}

#category_accept_changes {
    margin-left: 10px;
    background: url("../images/done.svg") no-repeat 50% 50%;
    height: 20px;
    width: 20px;
}

#new_category_option_2 {
    background-color: #dab17f;
}

#new_category_option_3 {
    background-color: #D8F3FF;
}
#new_category_option_1:hover, #new_category_option_2:hover, #new_category_option_3:hover {
    box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
}


.userContainer {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin-left: 25px;
    padding-top: 25px;
}

#site_top {
}