.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(22px);
  color: rgb(12, 13, 13);
  user-select: none;
}

#header {
  position: absolute;
  font-family: "Kristen ITC", serif;
  font-size: 35px;
  width: 100%;
  box-shadow: 0 6px 8px -4px lightgray;

}

.App-link {
  color: #61dafb;
}

#bump1, #bump2 {
  position: absolute;
  height: 30px;
  width: 80px;
  right: 172px;
  top: -30px;
  z-index: -1;
  background-color: #fefcf3;
  border-top-left-radius: 50px;  /* 100px of height + 10px of border */
  border-top-right-radius: 50px; /* 100px of height + 10px of border */
  border: 1px solid gray;
  border-bottom: 0;
}

#bump2 {
  right: 20px;
  border-top-left-radius: 10%;  /* 100px of height + 10px of border */
  border-top-right-radius: 10%; /* 100px of height + 10px of border */
}

#add_a_new_task {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -22px;
  right: 185px;
  background: url("../images/plus_sign.svg") no-repeat;
  transition: background 0.1s ease-in;
  cursor: pointer;
}

#add_a_new_task:hover {
  background: url("../images/plus_sign_hover.svg") no-repeat;
}

#add_a_new_task:active {
  background: url("../images/plus_sign_clicked.svg") no-repeat;
}

.closed_task, .closed_task_error, .closed_task_hover {
  height: 75px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;
  background-color: #fefcf3;

}

#combobox {
  width: 70px;
}

#combo-options {
  height: 10px;
}

#error_popup, #due_date_popup {
  position: absolute;
  bottom: 150px;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgba(255, 170, 170, 1);
  border-radius: 20px 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 9900101;
}

#due_date_popup {
  background-color: rgba(170, 230, 255, 1);
}

.hidden_task_element_input_error {
  visibility: hidden;
  border-radius: 15px;
  background-color: #d77c73;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: 0 10px;
  font-size: 15px;
  position: absolute;
  box-sizing: border-box;
  transition: visibility 0.4s linear;
  animation: rem_error 0.4s ease forwards;
  pointer-events: none;
  user-select: none;
}

#testid {
  width: 40px;
  height: 40px;
}

.dayofweekline {
  width: 10px !important;

}

.task_element_input_error {
  visibility: visible;
  border-radius: 15px;
  background-color: #FF7D7B;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: 0 10px;
  font-size: 15px;
  z-index: 0;
  position: absolute;
  box-sizing: border-box;
  animation: show_error 0.4s ease forwards;
  pointer-events: none;
  user-select: none;
}

#title_error_message {
  top: 10px;
  left: 65px;
  opacity: 0.9 !important;
}

#duration_error_message {
  top: 60px;
  left: 165px;
  opacity: 0.9 !important;
}

#category_error_message {
  top: 125px;
  left: 165px;
  font-size: 12px;
  z-index: 1;
  opacity: 0.9 !important;
}

#daysofweek_error_message {
  top: 150px;
  left: 200px;
  font-size: 12px;
  opacity: 0.9 !important;
}

#recurrence_error_message, #pinned_error_message {
  top: 50px;
  left: 200px;
  opacity: 0.9 !important;
}

.expanded_task, .expanded_task_error, .expanded_task_daytime, .expanded_task_daytime_error, .expanded_task_hover,
.expanded_task_daytime_hover{
  height: 202px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  width: 70%;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;
  background-color: #fefcf3;
}

.expanded_task_daytime, .expanded_task_daytime_error {
  height: 320px;
}

.expanded_task_error, .closed_task_error, .expanded_task_daytime_error {
  box-shadow: 1px 0px 3px 3px rgb(255, 78, 79);
  animation: error 1.5s infinite;
}

.expanded_task_hover, .closed_task_hover, .expanded_task_daytime_hover {
  box-shadow: 1px 0px 3px 3px #ccc;
}

@keyframes hovered {
  50% {box-shadow: 1px 0 3px 5px #e98000}
}

@keyframes error {
  50% {box-shadow: 1px 0 3px 5px rgb(243, 124, 124)}
}

@keyframes error_pin {
  0% {box-shadow: 1px 0 5px 3px rgb(243, 124, 124)}
  50% {box-shadow: 1px 0 5px 5px rgb(243, 124, 124)}
  100% {box-shadow: 1px 0 5px 3px rgb(243, 124, 124)}
}

input[type=text] {
  background: linear-gradient(rgb(12, 13, 13), rgb(12, 13, 13)) center bottom 0px /calc(100% - 10px) 0px no-repeat;
  color: rgb(12, 13, 13);
  border: none;
  overflow: hidden;
  width: 65%;
  margin-right: 100%;
}

input:focus {
  outline: none;
  color: rgb(12, 13, 13);
}

.daytime_icons {
  margin-top: 8px;
}

.morning_icon, .noon_icon, .evening_icon, .noon_icon_clicked, .morning_icon_clicked, .evening_icon_clicked {
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  visibility: visible;
}

.morning_icon_hidden, .noon_icon_hidden, .evening_icon_hidden {
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  visibility: hidden;
}

.morning_icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 49" height="30px" viewBox="0 0 250 25" width="30x" fill="black"><rect fill="none" height="30" width="30"/><path d="M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0 c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2 c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1 C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06 c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41 l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41 c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36 c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z"/></svg>');
  transition: background-image 0.2s ease-out;
}

.morning_icon:hover, .morning_icon_clicked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 39" height="30px" viewBox="0 0 250 25" width="30x" fill="yellow" ><rect fill="none" stroke="white" height="30" width="30"/><path d="M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0 c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2 c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1 C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06 c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41 l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41 c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36 c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z"/></svg>');
  cursor: pointer;
}

.noon_icon, .noon_icon_clicked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 49" height="30px" viewBox="0 0 250 25" width="30x" fill="black"><path d="M0 0h24v24H0z" fill="none"/><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/></svg>');
  transition: background-image 0.2s ease-out;
}
.noon_icon:hover, .noon_icon_clicked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 49" height="30px" viewBox="0 0 250 25" width="30x" fill="orange"><path d="M0 0h24v24H0z" fill="none"/><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/></svg>');
  cursor: pointer;
  transition: background-image 0.2s ease-out;
}

.evening_icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 49" height="30px" viewBox="0 0 20 20" width="30px" fill="black"><g><rect fill="none" height="30" width="30"/></g><g><g><g><path d="M9.38,10.05C7.75,6.89,9.03,4.11,9.76,3C6,3.13,3,6.21,3,9.99c0,0.4,0.04,0.78,0.1,1.16C3.39,11.06,3.69,11,4,11 c0.86,0,1.68,0.38,2.24,1.01C7.51,12.13,8.5,13.2,8.5,14.5c0,0.83-0.41,1.56-1.04,2.02C8.25,16.82,9.11,17,10.01,17 c2.45,0,4.6-1.26,5.86-3.17C14.21,13.99,10.98,13.16,9.38,10.05z"/></g><path d="M6,13l-0.27,0C5.38,12.4,4.74,12,4,12c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2c0.53,0,1.54,0,2,0c0.83,0,1.5-0.67,1.5-1.5 S6.83,13,6,13z"/></g></g></svg>');
  transition: background-image 0.2s ease-out;
}

.evening_icon:hover, .evening_icon_clicked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 49" height="30px" viewBox="0 0 20 20" width="30px" fill="purple"><g><rect fill="none" height="30" width="30"/></g><g><g><g><path d="M9.38,10.05C7.75,6.89,9.03,4.11,9.76,3C6,3.13,3,6.21,3,9.99c0,0.4,0.04,0.78,0.1,1.16C3.39,11.06,3.69,11,4,11 c0.86,0,1.68,0.38,2.24,1.01C7.51,12.13,8.5,13.2,8.5,14.5c0,0.83-0.41,1.56-1.04,2.02C8.25,16.82,9.11,17,10.01,17 c2.45,0,4.6-1.26,5.86-3.17C14.21,13.99,10.98,13.16,9.38,10.05z"/></g><path d="M6,13l-0.27,0C5.38,12.4,4.74,12,4,12c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2c0.53,0,1.54,0,2,0c0.83,0,1.5-0.67,1.5-1.5 S6.83,13,6,13z"/></g></g></svg>');
  cursor: pointer;
}

.days_checkbox {
  display: none;
}

option {
  color: rgb(12, 13, 13);
  background: transparent;
  border: none;
  outline:0;
}

option:hover {
  background: red !important;
}

.priority_options, .duration_options, .category_options {
  color: rgb(12, 13, 13);
  background:  rgba(230,230,230, 0);
  border: none;
  outline:0;
  width: 100px;
  padding-left: 20px;
}

.category_options {
  padding-left: 0px;
}

.duration_options {
  direction: rtl;
}

.duration_options_hidden {
  opacity: 0;
  width: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last: center;
  text-align: center;
}

select option {
  direction: ltr;

}

#duration_options_arrow, #priority_options_arrow, #category_options_arrow {
  width: 25px;
  height: 25px;
  background: url("../images/expand_more.svg") no-repeat;
  display: inline-block;
  transform: scale(0.7);
  pointer-events: none;
  position: absolute;
  margin-left: 10px;
  z-index: 0;
}

#priority_options_arrow {
  margin-left: 0;
}

#category_options_arrow {
  margin-left: -10px;
}

.wrapper_options {
  position: relative;
  display: inline-block;
}

.duration_options {
  height: 30px;
  width: auto;
  scroll-snap-type: y proximity;
}

.thumbtack, .thumbtack_clicked,.thumbtack_error, .recurrence {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-out, margin-left 0.2s ease-out, opacity 0.2s ease-out;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-right: 10px;
  z-index: 99999999;

}
.thumbtack, .thumbtack_clicked,.thumbtack_error {
  background-image: url("../images/thumbtack.svg");
}

.thumbtack_done {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-out, margin-left 0.2s ease-out, opacity 0.2s ease-out;
  cursor: pointer;
  background-image: url("../images/thumbtack_hover.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}


.thumbtack_error {
  animation: error_pin 1.5s infinite !important;
}

.recurrence {
  border-radius: 50%;
  transition: box-shadow 0.2s ease-out, margin-left 0.2s ease-out, opacity 0.2s ease-out, background-image 0.1s ease-out;
  width: 30px;
  background-image: url("../images/repeat_1.svg");
  height: 30px;
  margin-left: 40px;
  cursor: pointer;
  caret-color: transparent !important;
  user-select: none;
}

.recurrence:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.recurrence:active {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px;
}

.recurrence1 {
  background-image: url("../images/repeat_1.svg");
}

.recurrence2 {
  background-image: url("../images/repeat_2.svg");
}

.recurrence3 {
  background-image: url("../images/repeat_3.svg");
}

.recurrence4 {
  background-image: url("../images/repeat_4.svg");
}

.recurrence5 {
  background-image: url("../images/repeat_5.svg");
}

.recurrence6 {
  background-image: url("../images/repeat_6.svg");
}

.recurrence7 {
  background-image: url("../images/repeat_7.svg");
}

.thumbtack_clicked {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.thumbtack:hover, .thumbtack_done:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.thumbtack_clicked:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}

.thumbtack:active, .thumbtack_clicked:active, .thumbtack_done:active{
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 4px;
}

.recurrence {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-out, margin-left 0.2s ease-out, opacity 0.2s ease-out;
  cursor: pointer;
}

#checkit {
  position: sticky;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-color: red;

}

#time_input {
  margin-left: 20px;
  border-color: red;
}

#datetime-local {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datetime {
  color: red !important;
}

.pinned_choose_day, .pinned_choose_time {
  position: absolute;
  z-index: 999999;
  margin-top: 6%;
  margin-left: 8%;
  border: black 1px solid;
}

.pinned_calendar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}

.rec_pin {
  padding-right: 20px;
}

.pinned_choose_time {
  margin-top: 55px;
  margin-left: 8%;
  background-color: white;
  border: black 1px solid;
  width: 114.5px;
}

#title_place {
  width: 30px;
}

#site_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
}

.input_duration_hidden {
  opacity: 0;
  visibility: hidden;
  margin-left: 8px;
}

.input_duration {
  opacity: 1;
  visibility: visible;
  margin-left: 8px;
}

#hours_txt {
  position: relative;
  margin-left: -15px;
}

.dur_row {
margin-left: 20px;
}

.ttt {
  margin-left: 0 !important;
}
.first_row {
  margin-left: -15px !important;
  width: 70px !important;
}
.task_container {
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-clip: content-box;
  min-height: 100px;
  background-color: transparent;
}

.task_appear {
  animation: expand .4s ease;
}

.task_container_error {
  background-color: red;
}

.removed_container {
  width: 100%;
  justify-content: center;
  animation: minimize 0.4s ease;
  position: relative;
  z-index: 1;
}

@keyframes minimize {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top:-99px;
  }
}

.removed_container_expanded, .removed_container_expanded_daytime {
  width: 100%;
  justify-content: center;
  animation: minimize_expanded 0.60s ease;
  position: relative;
  z-index: 1;
}

.removed_container_expanded_daytime {
  animation: minimize_expanded_daytime 0.62s ease;
}

@keyframes minimize_expanded {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
    margin-top:-220px;
  }
}

@keyframes minimize_expanded_daytime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    margin-top:-330px;
  }
}

@keyframes expand {
  from {
    opacity: 0;
    margin-top: -10%;
    z-index: 4;
  }
}

.task_container > * {
}

.heb_class_title {
  direction: rtl;
}

.task_elm {
  text-align: left !important;
  user-select: none;
  z-index: 1000000;
}

.priority_elm, .cat_elm {
  text-align: left !important;
  user-select: none;
}

.title_input {
  width: 320% !important;
}

.day_of_week{
  background-color: transparent;
  transition: background-color 0.2s ease-in;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 50%;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day_of_week:hover {
  background-color: #c8c5c6;
}

.constraints_element {
  padding-left: 2%;
}

.spacing_days {
  padding-left: 9.5%;
}

.task_error {
  color: red !important;
}

.task_elm:hover {
  text-shadow: 0 0 1px black;
  -webkit-transition: text-shadow 0.1s linear;
}

.red_task {
  color: red;
}

#container {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  top: 50px;
  height: 90%;
}

.expand_icon {
  float:left;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  background: url("../images/expand_more.svg") no-repeat;
  transition: transform 0.5s;
  transform-origin: center center;
}

.collapse_icon {
  float:left;
  cursor: pointer;
  margin-top: 10px;
  width: 35px;
  height: 35px;
  background: url("../images/expand_more.svg") no-repeat;
  transform: rotate(180deg);
  transition: transform 0.5s;
  transform-origin: center center;
}

@keyframes rotate_sign {
  100% {
    transform: rotate(180deg)
  }
}

#submit_button {
  position: absolute;
  margin-top: -40px;
  right: 30px;
  height: 40px;
  background-color: #faffa2;
  border-color: #555555;
  color: #555555;
}

#submit_button:hover {
  background-color: #F9FF64;
}

#submit_button:active, #submit_button:focus  {
  box-shadow: 1px 0px 3px 3px #ccc;
}

#todo_parent_component {
  background-color: transparent;
}

#bottom_content {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  /*box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);*/
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 114%;
  height: 20%;
  min-height: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
  z-index: 100000;
  background-color: #fefcf3;
  border: 1px solid rgba(0,0,0,.2);
}

.past_due, .past_due_hidden {
  position: absolute;
  height: 100%;
  width: inherit;
  margin-top: -10px;
  padding-top: 30px;
  background-color: #fefcf3;
  z-index: 100000000;
}

.past_due {
  opacity: 0.8;
  visibility: visible;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.past_due_hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.dont_reschedule {
  float: left;
  margin-left: 50px;
  margin-top: 1vh;
  cursor: pointer;
  background-image: url("../images/cancel.svg");
  background-repeat: no-repeat;
  transition: background-image 0.1s ease-out;
  height: 30px;
  width: 30px;
}

.dont_reschedule:hover {
  background-image: url("../images/cancel_hover.svg");
}

.reschedule {
  float: right;
  margin-top: 1vh;
  margin-right: 40px;
  cursor: pointer;
  background: url("../images/approve.svg") no-repeat;
  transition: background-image 0.1s ease-out;
  height: 30px;
  width: 30px;
}

.reschedule:hover {
  background: url("../images/approve_hover.svg") no-repeat;
}

.past_due_hidden {
  visibility: hidden;
}

.bin_icon {
  float:left;
  cursor: pointer;
  margin-top:1vh;
  -webkit-transition: fill 0.15s linear ;
  background-image: url("../images/bin.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

.bin_icon:hover {
  fill: red;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.white_block {
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  height: 120px;
  display: block;
  z-index: 2;
  position: absolute;
  background-color: red;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 720px) {
  #bottom_content {
    position: absolute;
    bottom: 10%;
  }
  .task_container {
    width: 100%;
  }

}