

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 13, 13);
}

.App-link {
  color: #61dafb;
}

#add_new_task {
  position: absolute;
  top: 75vh;
  width: 80px;
  height: 80px;
  background: url("../images/plus_sign.svg") no-repeat;
  cursor: pointer;
}

#add_new_task:hover {

}

.expanded_task {
  height: 180px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  margin: 8px;
  width: 70%;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;
}

#header {
  position: absolute;
  top: 0;
}

input[type=text] {
  background: linear-gradient(rgb(12, 13, 13), rgb(12, 13, 13)) center bottom 0px /calc(100% - 10px) 0px no-repeat;
  color: rgb(12, 13, 13);
  border: none;
  overflow: hidden;
  width: 65%;
  margin-right: 100%;
}

input:focus {
  outline: none;
  color: rgb(12, 13, 13);
}

#nums_input {
  width: 20%;
}

option {
  color: rgb(12, 13, 13);
  background: transparent;
  border: none;
  outline:0;
}

option:hover {
  background: red !important;
}

#priority_options {
  color: rgb(12, 13, 13);
  background:  rgba(230,230,230, 0);
  border: none;
  outline:0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#site_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
}

.closed_task {
  height: 45px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  margin: 8px;
  width: 70%;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;
}

.task_container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.task_container > * {
}

#task_elm {
  text-align: left;
}

#task_elm:hover {
  text-shadow: 0 0 1px black;
  -webkit-transition: text-shadow 0.1s linear;
}

#container {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  top: 50px;
  height: 65vh;
  /*height: 900px;*/

}

#expand_icon {
  float:left;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-top: 15px;
  background: url("../images/expand_more.svg") no-repeat;
  transition: transform 0.5s;
  transform-origin: center center;
}

#minus_icon {
  float:left;
  cursor: pointer;
  /*background-color: red;*/
  margin-top: 15px;
  width: 35px;
  height: 35px;
  background: url("../images/expand_more.svg") no-repeat;
  /*background: url("../images/expand_less.svg") no-repeat 0 5px;*/
  transform: rotate(180deg);
  transition: transform 0.5s;
  transform-origin: center center;
  /*transform: scale(2);*/
}

@keyframes rotate_sign {
  100% {
    transform: rotate(180deg)
  }
}

#submit_button {
  position: absolute;
  top: 75vh;
  left: 75%;
}

#todo_parent_component {
  background-color: white;
}

.bin_icon {
  float:left;
  cursor: pointer;
  margin-top:2vh;
  -webkit-transition: fill 0.1s linear ;

}

.bin_icon:hover {
  fill: red;
  -webkit-transition: fill 0.1s linear ;
}

@media screen and (max-width: 800px) {
  .task {
    max-height: 5vh;
  }

}

@media screen and (min-width: 800px) {
  .task {
    max-height: 6vh;
  }
}