

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(22px);
  color: rgb(12, 13, 13);
}

.App-link {
  color: #61dafb;
}

#add_a_new_task {
  position: absolute;
  top: 75vh;
  width: 80px;
  height: 80px;
  background: url("../images/plus_sign.svg") no-repeat;
  cursor: pointer;
}

#add_new_task:hover {

}

.closed_task {
  height: 45px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  margin-left: 8px;
  margin-right: 8px;
  /*margin-top: 10px;*/
  padding: 5px;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;

}

.expanded_task {
  height: 180px;
  background-color: rgba(250,250,250, .3);
  box-shadow: 1px 0px 3px 3px #ccc;
  border-radius: 10px;
  width: 70%;
  margin-left: 8px;
  margin-right: 8px;
  /*margin-top: 10px;*/
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: height 0.4s ease;
}

#header {
  position: absolute;
  top: 0;
}

input[type=text] {
  background: linear-gradient(rgb(12, 13, 13), rgb(12, 13, 13)) center bottom 0px /calc(100% - 10px) 0px no-repeat;
  color: rgb(12, 13, 13);
  border: none;
  overflow: hidden;
  width: 65%;
  margin-right: 100%;
}

input:focus {
  outline: none;
  color: rgb(12, 13, 13);
}

#nums_input {
  width: 20%;
}

option {
  color: rgb(12, 13, 13);
  background: transparent;
  border: none;
  outline:0;
}

option:hover {
  background: red !important;
}

#priority_options {
  color: rgb(12, 13, 13);
  background:  rgba(230,230,230, 0);
  border: none;
  outline:0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#site_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
}


.task_container {
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: expand .4s ease;
  z-index: 100;
  background-color: white;
  position: relative;
  background-clip: content-box;

}

.removed_container {
  width: 100%;
  /*display: none;*/
  justify-content: center;
  animation: minimize .4s ease;
  /*background-color: red;*/
  position: relative;
  z-index: 1;
}

@keyframes minimize {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
    margin-top:-65px;
  }
}

.removed_container_expanded {
  width: 100%;
  /*display: none;*/
  justify-content: center;
  animation: minimize_expanded 0.6s ease;
  /*background-color: red;*/
  position: relative;
  z-index: 1;
}

@keyframes minimize_expanded {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
    margin-top:-200px;
  }
}

@keyframes expand {
  from {
    opacity: 0;
    margin-top: -10%;
    z-index: 4;
  }
}

.task_container > * {
}

#task_elm {
  text-align: left;
}

#task_elm:hover {
  text-shadow: 0 0 1px black;
  -webkit-transition: text-shadow 0.1s linear;
}

#container {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  top: 50px;
  height: 65vh;
  /*height: 900px;*/

}

#expand_icon {
  float:left;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  background: url("../images/expand_more.svg") no-repeat;
  transition: transform 0.5s;
  transform-origin: center center;
}

#minus_icon {
  float:left;
  cursor: pointer;
  /*background-color: red;*/
  margin-top: 15px;
  width: 35px;
  height: 35px;
  background: url("../images/expand_more.svg") no-repeat;
  /*background: url("../images/expand_less.svg") no-repeat 0 5px;*/
  transform: rotate(180deg);
  transition: transform 0.5s;
  transform-origin: center center;
  /*transform: scale(2);*/
}

@keyframes rotate_sign {
  100% {
    transform: rotate(180deg)
  }
}

#submit_button {
  position: absolute;
  top: 75vh;
  left: 75%;
}

#todo_parent_component {
  background-color: white;
}

.bin_icon {
  float:left;
  cursor: pointer;
  margin-top:1vh;
  -webkit-transition: fill 0.1s linear ;

}

.bin_icon:hover {
  fill: red;
  -webkit-transition: fill 0.1s linear ;
}

@media screen and (max-width: 800px) {
  .task {
    max-height: 5vh;
  }

}

@media screen and (min-width: 800px) {
  .task {
    max-height: 6vh;
  }
}

.loader {
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

.empty {
  mso-text-: 'empty';
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.white_block {
  padding-top: 15px;
  padding-bottom: 4px;
  width: 100%;
  height: 120px;
  display: block;
  z-index: 2;
  position: absolute;
  background-color: red;
}